target/
.mvn/
mvnw
mvnw.cmd
*.iml
.idea/
.vscode/
.settings/
.classpath
.project
node_modules/
package-lock.json
pnpm-lock.yaml
webpack.generated.js
tsconfig.json
types.d.ts
vite.config.ts
vite.generated.ts
src/main/frontend/
